.nav_list {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav_item {
  padding: 10px;
}

.nav_link {
  color: #000;
  text-decoration: none;
}
