@import-normalize;

body {
  max-width: 1600px;
  margin: 0 auto;

  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track
::-webkit-scrollbar-track {
} */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #1214170d;
  border-radius: 10px;
}
